    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
    }
    /********************/
    
    body {
        background-color: white;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
    }
    /*Wrapper*/
    
    .wrapper {
        max-width: 1440px;
        margin: auto;
        /* grow shrink basis*/
        flex: 1 0 auto;
    }
    /*barre de navigation*/
    
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .entete {
        display: flex;
        justify-content: space-between;
    }
    
    .navbar {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
    }
    
    .logo {
        display: flex;
        justify-content: flex-start;
        height: 50px;
        object-fit: cover;
        margin-top: 30px;
    }
    
    .navbar ul {
        display: flex;
        text-decoration: none;
    }
    
    .navbar li {
        display: flex;
        margin-right: 30px;
    }
    
    li a {
        text-decoration: none;
    }
    
    .login {
        color: #0065FC;
        padding-top: 40px;
        border-top: solid transparent;
    }
    
    .hebergement {
        padding-top: 40px;
        border-top: solid transparent;
        color: black;
    }
    
    .activites {
        padding-top: 40px;
        border-top: solid transparent;
        color: black;
    }
    
    .hebergement:hover {
        color: #0065FC;
        border-top: solid #0065FC;
    }
    
    .activites:hover {
        color: #0065FC;
        border-top: solid #0065FC;
    }
    /*Main*/
    
    .rechfiltresinfo {
        display: flex;
        flex-direction: column;
        margin: 20px 0 10px 0;
    }
    /*titres*/
    
    .titres {
        margin-bottom: 20px;
    }
    
    .titre {
        font-size: x-large;
    }
    
    .
    /* Barre de recherche*/
    
    .rechercher {
        padding-bottom: 20px;
    }
    
    form {
        display: flex;
        align-items: center;
        padding: 10px 0 10px 0;
    }
    
    form i {
        display: flex;
        align-items: center;
        border: solid 1px #F2F2F2;
        border-radius: 10px 0 0 10px;
        background-color: #f2f2f2;
        padding: 13px;
    }
    
    form input {
        border: solid 1px #F2F2F2;
        padding: 10px;
        font-size: large;
    }
    
    form button {
        border: solid 1px #F2F2F2;
        border-radius: 0 10px 10px 0;
        background-color: #0065FC;
        padding: 10px;
        font-size: large;
    }
    
    form button:hover {
        cursor: pointer;
        color: white;
    }
    /*Filtres*/
    
    .filtres {
        display: flex;
        font-weight: bolder;
        margin: 40px 0 10px 0;
    }
    
    .fi {
        display: flex;
        justify-content: space-between;
    }
    
    .fi span {
        display: flex;
        margin: 13px 20px 13px 15px;
    }
    
    .titrefiltre {
        display: flex;
        align-items: center;
        margin-right: 35px;
    }
    
    .filtre1 {
        display: flex;
        align-items: center;
        border: solid 2px #F2F2F2;
        border-radius: 25px;
        background-color: white;
        margin-right: 35px;
    }
    
    #billet {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 3rem;
        width: 3rem
    }
    
    .filtre2 {
        display: flex;
        align-items: center;
        border: solid 2px #F2F2F2;
        border-radius: 25px;
        background-color: white;
        margin-right: 35px;
    }
    
    #homme {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 3rem;
        width: 3rem
    }
    
    .filtre3 {
        display: flex;
        align-items: center;
        border: solid 2px #F2F2F2;
        border-radius: 25px;
        background-color: white;
        margin-right: 35px;
    }
    
    #coeur {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 3rem;
        width: 3rem
    }
    
    .filtre4 {
        display: flex;
        align-items: center;
        border: solid 2px #F2F2F2;
        border-radius: 25px;
        background-color: white;
        margin-right: 35px;
    }
    
    #animal {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 3rem;
        width: 3rem
    }
    
    .filtre1:hover {
        color: #0065FC;
        background-color: #F2F2F2;
        cursor: pointer;
    }
    
    .filtre2:hover {
        color: #0065FC;
        background-color: #F2F2F2;
        cursor: pointer;
    }
    
    .filtre3:hover {
        color: #0065FC;
        background-color: #F2F2F2;
        cursor: pointer;
    }
    
    .filtre4:hover {
        color: #0065FC;
        background-color: #F2F2F2;
        cursor: pointer;
    }
    /*Info*/
    
    .info {
        display: flex;
        margin: 15px 0 20px 0;
    }
    
    .info i {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065FC;
        background-color: white;
        border: 1px solid #f2f2f2;
        border-radius: 100%;
        height: 2rem;
        width: 2rem;
        margin-right: 10px;
    }
    
    .info p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*blocs: Hebergements à Marseille + Les plus populaires*/
    
    .MARPOP {
        display: flex;
        justify-content: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 30px 0 60px 0;
    }
    /* 1-Hébergements à Marseille*/
    
    .titre1 {
        margin-top: 10px;
    }
    
    .hebergementMar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rosybrown;
        border: 1px solid white;
        border-radius: 25px;
        padding: 0 20px;
        height: 600px;
    }
    
    .container1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 850px;
        height: 480px;
        border: 1px solid white;
        border-radius: 25px;
    }
    
    .HAM {
        width: 250px;
        height: 210px;
        background-color: white;
        border: 3px solid white;
        border-radius: 25px;
    }
    
    .HAM img {
        width: 100%;
        height: 120px;
        border: 1px solid white;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
    }
    
    .Mar {
        margin: 10px;
    }
    
    .aff {
        margin-top: 15px;
        margin-left: 40px;
    }
    /* 2-Les plus populaires*/
    
    .haut {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .haut i {
        margin-right: 30px;
    }
    
    .titre2 {
        margin-top: 10px;
        margin-left: 40px;
    }
    
    .populaire {
        display: flex;
        flex-direction: column;
        background-color: rgb(43, 144, 226);
        border: 1px solid white;
        border-radius: 25px;
        height: 600px;
    }
    
    .container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        width: 400px;
        height: 550px;
        border: 1px solid white;
        border-radius: 25px;
    }
    
    .pop {
        display: flex;
        width: 350px;
        height: 150px;
        background-color: white;
        border: 3px solid white;
        border-radius: 25px;
    }
    
    .pop img {
        width: 150px;
        height: 100%;
        border: 1px solid white;
        border-radius: 25px 0 0 25px;
        object-fit: cover;
        flex-shrink: 0;
    }
    
    .textpopu {
        margin: 10px 0 0 10px;
    }
    
    .textpopu p {}
    
    a {
        text-decoration: none;
        color: black;
    }
    
    .MARPOP a:hover {
        color: #0065FC;
    }
    /* 3-Activités à Marseille*/
    /*footer*/
    
    footer {
        flex-shrink: 0;
        /* flex-shrink:pour éviter que le footer soit réduit avec flexbox*/
        background-color: #f2f2f2;
        width: 100%;
    }
    
    .lefooter {
        width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        padding: 40px 0 60px 60px;
    }
    
    .Bloc {
        width: 25%;
        margin: 0 80px 0 0;
    }
    /*h3*/
    
    .apropos h3,
    .noshebergements h3,
    .assistance h3 {
        padding-bottom: 20px;
    }
    
    .liste-ap li,
    .liste-heb li,
    .liste-ass li {
        padding: 5px 0;
    }
    
    .lefooter a:hover {
        color: #0065FC;
    }