* {
    margin: auto;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    width: 1440px;
}


/*barre de navigation*/

.navbar {
    display: flex;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    margin-left: 0;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

li {
    display: flex;
    margin: 30px;
}

li a {
    text-decoration: none;
}

.login {
    color: #0065FC;
}

.hebergement {
    color: black;
}

.activites {
    color: black;
}

a:hover {
    text-decoration: overline #0065FC;
    color: #0065FC;
}


/*Main*/

h1 {
    font-size: x-large;
    margin-bottom: 10px;
}

hgroup {
    margin-bottom: 20px;
}


/* Barre de recherche*/